.countDownContainer {
  width: 40%;
  margin: 3rem 3rem 0 2rem;
  background: var(--background-modal);
  border-radius: 5px;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0 0 0;
}

.countDownContent {
  display: flex;
  align-items: center;
  color: var(--title);

  width: 330px;
  height: 330px;
  border-radius: 50%;
  background: var(--white);
  border: 12px solid var(--green-400);
}

.countDownContent > div {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  font-size: 5rem;
  text-align: center;
}

.countDownContent > div span {
  color: var(--title-dark);
  font-weight: bold;
}

.countDownContent > span {
  font-size: 5rem;
  font-weight: bold;
  margin: 0 0.5rem;
  color: var(--title-dark);
}

.countDownButton {
  width: 30%;
  height: 3rem;
  
  margin: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;

  background: var(--blue-400);
  color: var(--white);

  font-size: 1.25rem;
  font-weight: 600;

  transition: background-color 0.2s;
}

.countDownButton:not(:disabled):hover {
  background: var(--blue-500);
}

.countDownButtonActive {
  background-color: var(--red-500);
  color: var(--white);
}

.countDownButtonActive:hover {
  background-color: var(--red-600) !important;
}

.countDownButton:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
