* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --background: #E5E5E5;

  --blue-400: #6933FF;
  --blue-500: #5429CC;
  --blue-800: #3F1F99;

  --green-400: #33CC95;

  --brown-300: #998A8A;

  --red-600: #CC2944;
  --red-500: #E52E4D;
  --purple-500: #8A22E3;

  --title-dark: #363F5F;
  --title-grey: #969CB2;
  --text: #D6D6D7;
  --title: #2E384D;
  --background-modal: #F0F2F5;
  --dark-grey: #2E3236;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  color: var(--green-400);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
